:root {
  --primary-color: rgb(248, 232, 166);
  --secondary-color: green;
}
h1,
p {
  text-align: center;
}
body {
  background-color: var(--primary-color) !important;
}
a {
  text-align: center;
  color: var(--secondary-color) !important;
}
.container-fluid {
  display: flex;
  justify-content: center;
}
.img {
  border-radius: 8px;
}
